{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

<section class="highlight">
  <div class="highlight-description justify-content-center justify-content-xl-start bg-light">
    <div class="highlight-description-content d-flex flex-column justify-content-center pb-5 pt-4 py-md-5 pl-md-5 pr-md-4 px-4">
      <h1 class="font-weight-bold text-kabum-dark-blue">Raspberry Pi 4</h1>
      <p class="lead text-black">O seu pequeno computador dual-display</p>
      <div>
        <a href="#" class="btn btn-kabum-orange">
          Descubra mais
        </a>
      </div>
    </div>
  </div>
  <div class="highlight-picture"></div>
</section>
