{#
Copyright 2019 Douglas Silva (0x9fd287d56ec107ac)

This file is part of KaBuM!.

KaBuM! is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with KaBuM!.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends 'base.html.twig' %}

{% block body %}
  <div class="d-flex flex-column flex-md-row">
    <div id="sidebar">
      <div class="d-flex justify-content-md-center justify-content-between pb-2">
        <a href="{{ path('main_page') }}" aria-label="Go to home page">
          <img src="{{ asset('images/kabum.png') }}" id="header-brand" alt="Site logo">
        </a>
        <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#sidebarContent" aria-expanded="false" aria-controls="sidebarContent" aria-label="Toggle main menu">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </button>
      </div>
      <div id="sidebarContent" class="collapse">
        <div class="py-2">
          <div class="d-flex justify-content-center">
            <a class="nav-link text-kabum-orange" role="button" href="#" aria-label="Shopping cart">
              <i class="fas fa-shopping-cart action-button" aria-hidden="true"></i>
            </a>
            <a class="nav-link text-kabum-orange" role="button" href="#" aria-label="Wishlist">
              <i class="fas fa-bookmark action-button" aria-hidden="true"></i>
            </a>
            <div class="dropdown">
              <a class="nav-link dropdown-toggle text-kabum-orange" href="#" role="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="User menu">
                <i class="fas fa-user action-button" aria-hidden="true"></i>
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="#">Dashboard</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </div>
          </div>
        </div>
        <div class="py-2">
          <form>
            <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar"/>
          </form>
        </div>
        <nav class="nav flex-column flex-nowrap py-2">
          <a class="nav-link text-black" href="#">Celular & Telefone</a>
          <a class="nav-link text-black" href="#">Eletrônicos</a>
          <a class="nav-link text-black" href="#">Computadores</a>
          <a class="nav-link text-black" href="#">Hardware</a>
          <a class="nav-link text-black" href="#">Periféricos</a>
          <a class="nav-link text-black" href="#">Câmeras Digitais</a>
          <a class="nav-link text-black" href="#">Instrumento Musical</a>
          <a class="nav-link text-black" href="#">Segurança</a>
          <a class="nav-link text-black" href="#">Automotivo</a>
          <a class="nav-link text-black" href="#">Gamer</a>
          <a class="nav-link text-black" href="#">Vídeo & Som</a>
          <a class="nav-link text-black" href="#">Geek</a>
          <a class="nav-link text-black" href="#">Smart Home</a>
          <a class="nav-link text-black" href="#">Eletroportáteis</a>
          <a class="nav-link text-black" href="#">Automação</a>
          <a class="nav-link text-black" href="#">Brinquedos</a>
          <a class="nav-link text-black" href="#">Esporte e Lazer</a>
          <a class="nav-link text-black" href="#">Casa & Jardim</a>
          <a class="nav-link text-black" href="#">Presentes</a>
        </nav>
      </div>
    </div>
    <div>
      {% block main %}{% endblock %}
    </div>
  </div>
{% endblock %}
