@import "base/environment";

.navbar-toggler {
  color: theme-color('light');
}

.navbar-toggler:hover, .navbar-toggler:focus {
  color: theme-color('kabum-orange');
  outline: 0;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 16px;
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 16px;
    min-width: 250px;
  }
  @include media-breakpoint-up(xl) {
    min-width: 300px;
  }
}

#sidebar-content {
  @include media-breakpoint-up(md) {
    // Ensures #sidebar-content is always displayed on larger viewport sizes
    display: flex;
    flex-direction: column;
  }
}

.control-panel-item:hover, .control-panel-item:focus {
  background-color: theme-color('black-light');
  outline: 0;
}

.control-panel-current-item {
  box-shadow: -2px 0 0 0 theme-color('kabum-orange');
}
