@import "base/environment";

.control-panel-sidebar {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    position: sticky;
    top: 3.8rem;
    height: calc(100vh - 3.8rem);
    min-width: 15rem;
    overflow-y: auto;
  }
}

.product-image-thumbnail {
  width: 6rem;
}
