$theme-colors: (
  "strawberry": #c6262e,
  "orange": #f37329,
  "banana": #f9c440,
  "lime": #68b723,
  "blueberry": #3689e6,
  "grape": #a56de2,
  "cocoa": #715344,
  "silver": #abacae,
  "slate": #485a6c,
  "black": #333333,
);

$component-active-bg: map-get($theme-colors, 'orange');

// Import required Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$input-placeholder-color: theme-color('silver');

$dropdown-link-hover-bg: theme-color-level('silver', -7);

// Import remaining Bootstrap files
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

.navbar-sticky {
  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  }
  position: static;
  top: auto;
  z-index: auto;
}

.header {
  min-height: 3.5rem;
}

.sidebar {
  position: sticky;
  top: 3.5rem;
  z-index: 1000;
  height: calc(100vh - 3.5rem);
  border-right: 1px solid rgba(0,0,0,.1);
  overflow-y: auto;
  @include media-breakpoint-down(sm) {
    position: static;
    top: auto;
    z-index: auto;
    height: auto;
    border-right: 0;
    overflow-y: visible;
  }
}

#siteNav {
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.navbar-search {
  background-color: theme-color-level('black', -1);
  color: theme-color('light');
}

.navbar-search:focus {
  box-shadow: none;
}

.highlight {
  background-image: url('../images/test.png');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  @include media-breakpoint-up(lg) {
    height: 400px;
  }
}
