/*
 * Removes the default dropdown arrow indicator from
 * <select> input elements.
 */
.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

#flash {
  position: fixed;
  top: 16px;
  right: 0;
  z-index: 1000;
}
