$theme-colors: (
  "strawberry": #c6262e,
  "orange": #f37329,
  "banana": #f9c440,
  "lime": #68b723,
  "blueberry": #3689e6,
  "grape": #a56de2,
  "cocoa": #715344,
  "silver": #abacae,
  "slate": #485a6c,
  "black": #333333,
  "blackhole": #111111,
  "kabum-light-blue": #0584c2,
  "kabum-dark-blue": #055eb2,
  "kabum-orange": #fb6a0e,
);

$component-active-bg: map-get($theme-colors, 'kabum-orange');

// Import required Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$enable-responsive-font-sizes: true;
$input-placeholder-color: theme-color('silver');
$dropdown-link-hover-bg: theme-color-level('silver', -7);

// Import remaining Bootstrap files
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

/*
 * Removes the default dropdown arrow indicator from
 * <select> input elements.
 */
.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.action-button {
  font-size: 1.5rem;
}

#header-brand {
  width: 180px;
  transition: transform .15s;
  @include media-breakpoint-down(sm) {
    width: 150px;
  }
}

#header-brand:hover {
  transform: scale(1.1);
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 16px;
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 16px;
    min-width: 250px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .11);
  }
  @include media-breakpoint-up(xl) {
    min-width: 300px;
  }
}

#sidebar nav {
  @include media-breakpoint-up(md) {
    /*
     * The max-height value below compensates for other elements taking up space
     * on the sidebar. This nav element will display a scroll bar if it overflows,
     * and this ensures it's rendered correctly.
     */
    max-height: calc(100vh - 17rem);
    overflow-y: auto;
  }
}

#sidebarContent {
  @include media-breakpoint-up(md) {
    // Ensures #sidebarContent is always displayed on larger viewport sizes
    display: flex;
    flex-direction: column;
  }
}

#flash {
  position: fixed;
  top: 16px;
  right: 0;
  z-index: 1000;
}
