@import "base/colors";

$component-active-bg: map-get($theme-colors, 'kabum-orange');

@import "base/bootstrap-required";

$body-bg: theme-color('light');

@import "base/bootstrap-optional";

.form {
  width: 100%;
  max-width: 20.6rem;
  padding: 1rem;
  margin: auto;
}

.login-form .form-control {
  // Relative positioning is required to make the focus fix below work
  position: relative;

  // Enlarges the input box
  height: auto;
  padding: .625rem;
}

.login-form .form-control:focus {
  // Prevents the focus styling from being hidden under the adjacent input box
  z-index: 2;
}

/*
 * Upper and lower input classes style the form fields in a way that makes
 * them look like one - unified.
 */

.upper-input {
  // Merge the two input boxes' margins
  margin-bottom: -.0625rem;

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.lower-input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.logotype {
  width: 12.5rem;
}
