@import "base/environment";
@import "~feed-control/css/feed.css";

.category-sidebar {
  display: none;
  min-width: 15.6rem;
  padding: 1.5rem;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.category-list-sidebar .category {
  padding: .3rem;
  text-decoration: none !important;
  color: theme-color-level('black', -3);
}

.category-list-sidebar .current-category {
  font-weight: bold !important;
}

.category-list-sidebar .category:hover {
  color: theme-color('kabum-light-blue');
}

.category-list-sidebar .category:focus {
  color: theme-color('kabum-dark-blue');
  outline: 0;
}

.feed-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18.7rem;
  margin: 1rem;
}

.fc-wrapper {
  min-height: 18.7rem;
}

.fc-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.feed-item:focus {
  box-shadow: 0 0 0 .0625rem theme-color('silver');
  outline: 0;
}

.product-thumbnail {
  width: 5rem;
}

.shopping-cart-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin: 1rem;
}

.quantity-input {
  width: 5rem;
}
