@import "base/environment";

.kabum-action-icon {
  font-size: 1.5rem;
}

.kabum-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: theme-color('kabum-orange');
}

.kabum-action-button:hover {
  color: theme-color-level('kabum-orange', 2);
  text-decoration: none;
}

.kabum-action-button:focus {
  box-shadow: 0 .125rem 0 0 theme-color('kabum-orange');
  outline: 0;
}

.header-logotype {
  width: 11.2rem;
  transition: transform .15s;
  @include media-breakpoint-down(sm) {
    width: 6.8rem;
    transition: none;
  }
}

.header-logotype:hover {
  transform: scale(1.1);
  @include media-breakpoint-down(sm) {
    transform: none;
  }
}

.sticky-sidebar {
  box-shadow: 0 0 .6rem .2rem rgba(0, 0, 0, .11);
  z-index: 1000;
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 15.6rem;
  }
  @include media-breakpoint-up(xl) {
    min-width: 18.7rem;
  }
}

.sticky-sidebar-collapsible {
  @include media-breakpoint-up(md) {
    // Ensures .sticky-sidebar-collapsible is always displayed on larger viewport sizes
    display: block !important;
  }
}

.sticky-sidebar-scrollable {
  @include media-breakpoint-up(md) {
    /*
     * The number we subtract from the full viewport size is a compensation
     * for all other elements taking up space on the sidebar.
     */
    max-height: calc(100vh - 18.5rem);
    overflow-y: auto;
  }
}

.current {
  font-weight: bold !important;
}

.category {
  padding: .3rem;
  text-decoration: none !important;
  color: theme-color('secondary');
  font-weight: lighter;
}

.category:hover {
  color: theme-color('kabum-light-blue');
}

.category:focus {
  color: theme-color('kabum-dark-blue');
  outline: 0;
}

.instant-search {
  position: relative;
}

.instant-search-box {
  position: absolute;
  display: none;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 1rem;
  margin: .3rem 0 0;
  border: .0625rem solid rgba(0, 0, 0, .1);
  border-radius: .2rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
  z-index: 100;
  @include media-breakpoint-up(md) {
    width: 175%;
  }
}

.search-input-wrapper {
  height: 2.5rem;
}

.search-input {
  width: 100%;
  height: 100%;
  min-width: 0;
  border: none;
  box-shadow: 0 .125rem 0 0 theme-color('kabum-dark-blue');
  transition: box-shadow .3s;
}

.search-input:focus {
  box-shadow: 0 .125rem 0 0 theme-color('kabum-orange');
  outline: 0;
}

.instant-search-cursor {
  box-shadow: 0 0 0 .125rem theme-color('kabum-orange');

  /*
   * A higher z-index makes sure the box shadow is properly shown when there
   * are adjacent elements that would otherwise overlap the effect. Relative
   * positioning is necessary for z-index to work.
   */
  position: relative;
  z-index: 100;
}

.hidden {
  display: none !important;
}

.feed-screen {
  min-height: 18.7rem;
}

.feed-control {
  display: none;
  min-height: 18.7rem;
}

.feed-control-label {
  display: none;
}

.feed-item:focus {
  box-shadow: 0 0 0 .0625rem theme-color('silver');
  outline: 0;
}
