@import "base/environment";
@import "instant-search/resources";
@import "navigation-panel/resources";
@import "feed/resources";

.header-bar { // Make sure this class is reusable
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 3.8rem;
  box-shadow: 0 0 .4rem .1rem rgba(0, 0, 0, .11);
  z-index: 1000;
}

.header-logotype {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header-logotype-img {
  width: 6.25rem;
}

.navigation-menu {
  position: fixed;
  top: 3.8rem;
  height: calc(100vh - 3.8rem);
  box-shadow: 0 .3rem .4rem .1rem rgba(0, 0, 0, .11);
}

// Makes the panel slide in from the right
.navigation-menu-right {
  right: 0;
}

.navigation-menu-scrollable {
  overflow-y: auto;
}

.navigation-menu-item, .category-list-navpanel .category {
  display: block;
  color: theme-color-level('black', -3);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
}

.navigation-menu-item:hover, .category-list-navpanel .category:hover {
  color: theme-color-level('black', -3);
  text-decoration: none;
  background-color: theme-color-level('light', 1);
}

.navigation-menu-item:focus, .category-list-navpanel .category:focus {
  background-color: theme-color-level('light', 2);
  outline: 0;
}

.navigation-menu-current-item, .category-list-navpanel .current-category {
  box-shadow: inset .1875rem 0 theme-color('kabum-orange');
  background-color: theme-color-level('light', 0.5);
}

.is-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.is-box {
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100%;
  width: 100%;
  padding: 1rem;
  margin-top: .3rem;
  border: .0625rem solid rgba(0, 0, 0, .1);
  border-radius: .2rem;
  background-color: white;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
  @include media-breakpoint-up(sm) {
    min-width: 25rem;
    width: auto;
  }
  @include media-breakpoint-up(md) {
    min-width: 28rem;
    width: auto;
  }
}

.instant-search-cursor {
  box-shadow: 0 0 0 .125rem theme-color('kabum-orange');

  /*
   * A higher z-index makes sure the box shadow is properly shown when there
   * are adjacent elements that would otherwise overlap the effect. Relative
   * positioning is necessary for z-index to work.
   */
  position: relative;
  z-index: 100;
}

.search-input-wrapper {
  height: 2.5rem;
  padding-left: 1rem;
  background-color: theme-color('light');
  border-radius: 5rem;
}

.search-input {
  width: 100%;
  height: 100%;
  min-width: 0;
  padding-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border: 0;
}

.search-input:focus {
  outline: 0;
}

.search-input-wrapper:focus-within {
  box-shadow: 0 .1rem .1rem .1rem rgba(0, 0, 0, .11);
}

.kabum-action-button {
  display: flex;
  align-items: center;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  color: theme-color('kabum-light-blue');
}

.kabum-action-button:hover {
  color: theme-color('kabum-dark-blue');
  text-decoration: none;
}

.kabum-action-button:focus {
  color: theme-color('kabum-orange');
  outline: 0;
}

.category-sidebar {
  min-width: 15.6rem;
}

.category-list-sidebar .category {
  padding: .3rem;
  text-decoration: none !important;
  color: theme-color-level('black', -3);
}

.category-list-sidebar .current-category {
  font-weight: bold !important;
}

.category-list-sidebar .category:hover {
  color: theme-color('kabum-light-blue');
}

.category-list-sidebar .category:focus {
  color: theme-color('kabum-dark-blue');
  outline: 0;
}

.feed-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 18.7rem;
}

.fc-wrapper {
  min-height: 18.7rem;
}

.fc-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.feed-item:focus {
  box-shadow: 0 0 0 .0625rem theme-color('silver');
  outline: 0;
}
