@import "base/environment";

.user-settings-sidebar {
  display: none;
  min-width: 15rem;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.user-overview-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin: 1rem;
}

.logotype {
  width: 12.5rem;
}
