@import "base/environment";

.sticky-sidebar {
  z-index: 1000;
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 15.6rem;
  }
  @include media-breakpoint-up(xl) {
    min-width: 18.7rem;
  }
}

.sticky-sidebar-collapsible {
  @include media-breakpoint-up(md) {
    // Ensures .sticky-sidebar-collapsible is always displayed on larger viewport sizes
    display: block !important;
  }
}

.control-panel-item {
  display: block;
  color: theme-color('light');
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.control-panel-item:hover, .control-panel-item:focus {
  color: theme-color('light');
  text-decoration: none;
  background-color: theme-color-level('black', -1);
  outline: 0;
}

.control-panel-current-item {
  border-left: .125rem solid theme-color('kabum-orange');
}

.logotype {
  width: 12.5rem;
}
